body {
    background-color: #f2e9e1; /* beige background */
    font-family:      'Courier New', Courier, monospace; /* old-school font */
    color:            #462a16; /* dark brown text color */
}

h1 {
    font-size: 36px;
    padding:   20px;
}


label {
    display:   block;
    font-size: 20px;
}

input[type="text"],
input[type="password"] {
    padding:       10px;
    font-size:     18px;
    border-radius: 5px;
    border:        1px solid #462a16; /* dark brown border */
}

input[type="submit"] {
    padding:          10px 20px;
    font-size:        20px; /* larger submit button text */
    border-radius:    5px;
    border:           none;
    background-color: #d4ac0d; /* gold button */
    color:            #462a16; /* dark brown text */
    cursor:           pointer;
    transition:       background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #ffcc00; /* brighter gold on hover */
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.warning {
  color: red; /* Initial color */
  animation: pulse 0.5s infinite alternate; /* Apply pulsating animation */
}

.fade-in {
    animation: fadeIn 1.5s ease-out;
}

.typewriter h2 {
  overflow:       hidden;
  white-space:    nowrap;
  margin:         0 auto;
  letter-spacing: .15em; 
  animation:      typing 3.5s steps(40, end),
                  blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.centering {
    display:        flex; 
    align-items:    center;
    flex-direction: column;
    text-align:     center;
}

.titleSection {
    padding: 30px;
}
.charSheetRow {
    display:        flex; 
    padding:        10px;
    align-items:    center;
}
.optionBox {
    background-color: #462a16; /* dark brown */
    color:            #f2e9e1; /* beige */
    border:           1px solid #ccc;
    border-radius:    5px;
    padding:          10px;
    margin-left:      10px;
    user-select:      none;
}
.charSheetArrow {
    cursor:      pointer;
}
.playerStat {
    display:        inline-block;
    width:          140px; 
    text-align:     center;
    vertical-align: middle;
    overflow:       hidden;
    white-space:    nowrap;
}
.playerSkill {
    display:        inline-block;
    width:          50px; 
    text-align:     center;
    vertical-align: middle;
    overflow:       hidden;
    white-space:    nowrap;
}
.charSheetSection {
    display:        flex;
    flex-direction: column;
    align-items:    flex-end;
    width:          fit-content;
}
.charSheet {
    display:         flex;
    align-items:     center;
    justify-content: center;
    flex-direction:  column;
}
